// PRE-FOOTER :: START
section
  .pre-footer
    .container
      .pre-footer__grid
        a(href="#")
        a(href="#")
        a(href="#")

// PRE-FOOTER :: END

// FOOTER :: START

footer.footer
  .container
    .footer__wrapper
      .footer__links
        .footer__part
          a(href="/home.html") Главная
          a(href="/menu-sushy.html") Меню
          a(href="/share.html") Акции
          a(href="/about.html") О нас
          a(href="/callback.html") Обратная связь
        .footer__part
          a(href="/delivery.html") Доставка и оплата
          a(href="/delivery.html") Карта доставки
          a(href="/vacancies.html") Вакансии
          a(href="/vacancies.html") Вакансии
          a(href="/home.html") Мобильная версия
      .footer__middle
        a.footer__btn(href="/callback.html") ПОЖАЛОВАТЬСЯ
        p 2018 
          br
          | ООО «Сушевский». Все права защищены
      .footer__right
        form(action="#")
          .input-container
            input(type="text" placeholder="Поиск по сайту")
            input.btn(type="submit" value="")
        .footer__c-info
          p Контакты:
          p г. Москва
            span.footer__point ,
            br
            |  ул. Тестовая 99
        a.footer__phone(href="tel:+4955555555")
          p
            span.vertical 495
            span 555
              span.dot •
              | 55
              span.dot •
              | 55
      
// FOOTER :: END
