// HEADER :: START

.header-container

header.header
  //- .header__options(data-aos='fade-up')
  //-   .container
  //-     .header__o-grid
  //-       .header__o-city
  //-         p Ваш город
  //-           span -
  //-         select
  //-           option(value="val1") Москва
  //-           option(value="val2") Калининград
  //-           option(value="val3") Санкт-Петербург
  //-       .header__o-languages
  //-         a(href="#" js-language-button) RU
  //-         a.is-active(href="#" js-language-button) EN
  .header__wrapper(data-aos='fade-left')
    .container
      .header__wrapper-grid
        .hamburger.hamburger--spin(js-hamburger)
          .hamburger-box
            .hamburger-inner
        a.header__logotype(href="/home.html")
          img(src="img/logotype.svg", alt="")
        a.header__phone(href="tel:+4955555555")
          img(src="img/phone.png", alt="")
          p
            span.vertical 495
            span 555
              span.dot •
              | 55
              span.dot •
              | 55
        .header__shop
          .header__shop-info
            p Корзина:
            p 1 товар, 350 руб.
          .header__shop-button
            a(href="#") Оформить заказ
          a.header__shop-avatar(href="#login-popup" data-effect="mfp-zoom-in" js-open-popup)
            img(src="img/face-icon.png", alt="")

  // BEGIN SECTION :: free

  .free(data-aos='fade-right')
    .container
      p Бесплатная доставка при заказе от 900 руб.
      a.free__phone(href="tel:+4955555555")
        p
          span.vertical 495
          span 555
            span.dot •
            | 55
            span.dot •
            | 55
  
  // END SECTION :: free

  .header__nav
    .container(data-aos='fade-left')
      ul
        li
          a.header__menu-link(href="/home.html") Главная
        li
          select.select-nav(onchange="location = this.options[this.selectedIndex].value;")
            option(value="/home.html") Меню
            option(value="/home.html") Меню №1
            option(value="/home.html") Меню №2
            option(value="/home.html") Меню №3
        li
          select.select-nav(onchange="location = this.options[this.selectedIndex].value;")
            option(value="/share.html") Акции
            option(value="/share.html") Акции №1
            option(value="/share.html") Акции №2
            option(value="/share.html") Акции №3
        li
          a.header__menu-link(href="/about.html") О нас
        li
          a.header__menu-link(href="/callback.html") Обратная связь

      
// HEADER :: END

//- // BEGIN SECTION :: slider

//- section(data-aos='fade-up')
//-   .main-slider
//-     .container
//-       .slider(js-main-slider)
//-         .item
//-           img(src="img/slide-1.jpg", alt="")
//-         .item
//-           img(src="img/slide-1.jpg", alt="")
//-         .item
//-           img(src="img/slide-1.jpg", alt="")
//-         .item
//-           img(src="img/slide-1.jpg", alt="")

//- // END SECTION :: slider