// HEADER :: START
header.header(data-aos='fade-down')
  .container
    .header__wrapper
      a(href="home.html").header__logo
        img(src="img/logotype.svg", alt="")
      .header__menu
        a.header__menu-link(href="#section-about" data-section='1') About
        a.header__menu-link(href="#section-for-shippers" data-section='2') For Shippers
        a.header__menu-link(href="#section-for-carriers" data-section='3') For Carriers
        a.header__menu-link(href="#section-platform" data-section='4') The Platform
        a.header__menu-link(href="#section-careers" data-section='5') Careers
        a.header__menu-link(href="#section-contacts" data-section='6') Contacts
      a.header__btn(href="login.html") SIGN UP
// HEADER :: END
