// BEGIN SECTION :: slider

section(data-aos='fade-up')
  .main-slider
    .container
      .slider(js-main-slider)
        .item
          img(src="img/slide-1.jpg", alt="")
        .item
          img(src="img/slide-1.jpg", alt="")
        .item
          img(src="img/slide-1.jpg", alt="")
        .item
          img(src="img/slide-1.jpg", alt="")

// END SECTION :: slider
