---
title: Sushevsky About
---
extends shared/_layout
block content

  include components/_main-slider

  // BEGIN SECTION :: about-p
  section
    .about.about--page
      .container
        .title-container
          h2 О нас
      .about__container
        .container
          .about__grid
            .about__image
              img(src="img/about.jpg", alt="")
            .about__info
              p Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без.
          .about__grid.about__grid--reverse
            .about__image
              img(src="img/about.jpg", alt="")
            .about__info
              p Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без. Описание компании и тд, и тп. Любое. С фотографиями или без.
  
  // END SECTION :: about-p
