---
title: Sushevsky Cabinet
---
extends shared/_layout
block content

  include components/_main-slider

  // BEGIN SECTION :: cabinet

  section
    .container
      .title-container
        h2 Личный кабинет
    .cabinet
      .container
        form.js-validation-form(action="#")
          p Личная информация
          .cabinet__grid
            .cabinet__left
              .input-container
                label(for="f1") ФИО*
                input#f1(type="text" name="name")
              .input-container
                label(for="f2") Телефон*
                input#f2(type="text" name="phone")
              .input-container
                label(for="f3") E-mail*
                input#f3(type="text" name="mail")
              .input-container
                label(for="f4") Адрес доставки*
                input#f4(type="text" name="point")
              .input-container.input-container--checkbox
                input#f3-c(type='checkbox' title="Please agree to our policy!" name="agree")
                label(for="f3-c").checkbox__text Я согласен с условиями использования персональных данных*
            .cabinet__right
              .cabinet__socials
                p Привязать к аккаунту соцсеть:
                .cabinet__links
                  a(href="#")
                  a(href="#")
                  a(href="#")
              
          .cabinet__grid.cabinet__grid--buttons
            .cabinet__left
              .input-container
                a.btn(href="#") Сбросить пароль
            .cabinet__right
              .cabinet__right--grid
                .input-container
                  a.btn.btn--cancel(href="#") Отменить изменения
                .input-container
                  input.btn(type="submit" value="Сохранить")


  // END SECTION :: cabinet
