---
title: FIRST DIGITAL PARTY LOGISTICS PROVIDER
---
extends shared/_layout
block content
  
  // BEGIN SECTION :: login
  section.login
    .container
      form.js-registration-form(data-aos='fade-up' action="#")
        .login__buttons
          span
            input#radio-shipper.radio(type='radio' name='radio-group' checked value='radio-shipper')
            label(for='radio-shipper' js-shipper-button) LOG IN AS a SHIPPER
          span
            input#radio-carrier.radio(type='radio' name='radio-group' value='radio-carrier')
            label(for='radio-carrier' js-carrier-button) LOG IN AS a CARRIER
        .login__container
          p.login__title.shipper-title.is-active Shipper’s login
          p.login__title.carrier-title Carrier’s login
          .input-container
            label(for="l1") Email
            input#l1(type="text" name="email")
          .input-container
            label(for="l2") Password
            .input-password
              input#l2.input-password(type="password" name="password")
              a.login__show-pass(href='#' js-show-pass)
                svg.show-pass(xmlns='http://www.w3.org/2000/svg', width='20', height='16', viewBox='0 0 20 16')
                  g(fill='none', fill-rule='evenodd')
                    path(fill='#0A090B', d='M.43 5.082a.79.79 0 0 1 1.049.338C2.927 8.228 6.154 10.264 10 10.264c3.843 0 7.072-2.034 8.521-4.844a.79.79 0 0 1 1.05-.338c.385.19.54.65.345 1.028-.862 1.67-2.227 3.086-3.95 4.095l2.115 2.07a.754.754 0 0 1 0 1.082.793.793 0 0 1-1.105 0l-2.48-2.43c-1.17.475-2.425.76-3.715.842v3.466c0 .423-.35.765-.781.765a.773.773 0 0 1-.781-.765V11.77a11.904 11.904 0 0 1-3.714-.841l-2.481 2.429a.793.793 0 0 1-1.105 0 .754.754 0 0 1 0-1.082l2.115-2.07C2.31 9.195.946 7.78.084 6.11A.757.757 0 0 1 .43 5.082zM10 2c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm.5 6C12.43 8 14 6.43 14 4.5S12.43 1 10.5 1 7 2.57 7 4.5 8.57 8 10.5 8z')
                    circle(cx='10.5', cy='4.5', r='4.5', fill='#FFF', fill-rule='nonzero')
                svg.hide-pass(xmlns='http://www.w3.org/2000/svg', width='20', height='15', viewBox='0 0 20 15')
                  path(fill='#0A090B', fill-rule='evenodd', d='M19.57 10.918a.79.79 0 0 1-1.049-.338C17.073 7.772 13.846 5.736 10 5.736c-3.843 0-7.072 2.034-8.521 4.844a.79.79 0 0 1-1.05.338.757.757 0 0 1-.345-1.028c.862-1.67 2.227-3.086 3.95-4.095l-2.115-2.07a.754.754 0 0 1 0-1.082.793.793 0 0 1 1.105 0l2.48 2.43A11.904 11.904 0 0 1 9.22 4.23V.765C9.219.342 9.569 0 10 0c.431 0 .781.342.781.765V4.23c1.29.082 2.545.367 3.714.841l2.481-2.429a.793.793 0 0 1 1.105 0 .754.754 0 0 1 0 1.082l-2.115 2.07c1.723 1.01 3.088 2.425 3.95 4.095a.757.757 0 0 1-.345 1.028zM10 14c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm-.5-6C7.57 8 6 9.57 6 11.5S7.57 15 9.5 15s3.5-1.57 3.5-3.5S11.43 8 9.5 8z')
          input.login__btn(type="submit" value="LOGIN")
        a.login__btn.login__btn--sign(href="#") SIGN UP
  
  // END SECTION :: login
