---
title: Sushevsky Menu
---
extends shared/_layout
block content

  // BEGIN SECTION :: menu-p

  section
    .menu-p
      .container
        .title-container
          h2 Меню
        .menu-p__scroll
          .menu-p__links
            a.is-active(href="#" js-menu-p-tab) СУШИ
            a(href="#" js-menu-p-tab) РОЛЛЫ
            a(href="#" js-menu-p-tab) СЕТЫ
            a(href="#" js-menu-p-tab) ПИЦЦА
            a(href="#" js-menu-p-tab) ЛАПША
            a(href="#" js-menu-p-tab) ЗАКУСКИ
            a(href="#" js-menu-p-tab) САЛАТЫ
            a(href="#" js-menu-p-tab) НАПИТКИ
        .menu-p__tabs
          .menu-p__tab.is-active
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title СУШИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title СУШИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title РОЛЛЫ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title СЕТЫ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title ПИЦЦА Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title ЛАПША Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title ЗАКУСКИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title САЛАТЫ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title НАПИТКИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                .menu-p__image
                  img(src="img/popular-1.jpg", alt="")
                .menu-p__info
                  p.menu-p__title Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
  // END SECTION :: popular