---
title: Sushevsky Напитки
---
extends shared/_layout
block content

  include components/_main-slider

  // BEGIN SECTION :: menu-p

  section
    .menu-p
      .container
        .title-container
          h2 Меню
        .menu-p__scroll
          .menu-p__links
            a(href="/menu-sushy.html") СУШИ
            a(href="/menu-rolly.html") РОЛЛЫ
            a(href="/menu-sety.html") СЕТЫ
            a(href="/menu-pizza.html") ПИЦЦА
            a(href="/menu-lapsha.html") ЛАПША
            a(href="/menu-zakuski.html") ЗАКУСКИ
            a(href="/menu-salaty.html") САЛАТЫ
            a.is-active(href="/menu-napitki.html") НАПИТКИ
        .menu-p__tabs
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") НАПИТКИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") СУШИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html")
                  img(src="img/menu-8.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          
  // END SECTION :: menu-p
