---
title: Sushevsky Лапша
---
extends shared/_layout
block content

  include components/_main-slider

  // BEGIN SECTION :: menu-p

  section
    .menu-p
      .container
        .title-container
          h2 Меню
        .menu-p__scroll
          .menu-p__links
            a(href="/menu-sushy.html" data-transition-scrollTop="false") СУШИ
            a(href="/menu-rolly.html" data-transition-scrollTop="false") РОЛЛЫ
            a(href="/menu-sety.html" data-transition-scrollTop="false") СЕТЫ
            a(href="/menu-pizza.html" data-transition-scrollTop="false") ПИЦЦА
            a.is-active(href="/menu-lapsha.html" data-transition-scrollTop="false") ЛАПША
            a(href="/menu-zakuski.html" data-transition-scrollTop="false") ЗАКУСКИ
            a(href="/menu-salaty.html" data-transition-scrollTop="false") САЛАТЫ
            a(href="/menu-napitki.html" data-transition-scrollTop="false") НАПИТКИ
        .menu-p__tabs
          .menu-p__tab
            .menu-p__grid
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") ЛАПША Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") СУШИ Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
              .menu-p__item
                a.menu-p__image(href="/item.html" data-transition-scrollToContent="true")
                  img(src="img/menu-5.jpg", alt="")
                .menu-p__info
                  a.menu-p__title(href="/item.html" data-transition-scrollToContent="true") Супер пупер суши Игинаши
                  p.menu-p__weight 300гр.
                  .menu-p__about-container
                    p.menu-p__about Описание блюда, описание блюда, описание блюда и т.д.
                .menu-p__buttons
                  a.menu-p__btn(href="#") Добавить
                  p.menu-p__price 300 руб.
          
  // END SECTION :: menu-p
