---
title: Sushevsky Registration
---
extends shared/_layout
block content

  // BEGIN SECTION :: slider

  section(data-aos='fade-up')
    .main-slider
      .container
        .slider(js-main-slider)
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")

  // END SECTION :: slider

  // BEGIN SECTION :: registration

  section
    .container
      .title-container
        h2 Регистрация
    .registration
      .container
        form.js-validation-form(action="#")
          .registration__grid
            .registration__left
              .input-container
                label(for="f1") ФИО*
                input#f1(type="text" name="name")
              .input-container
                label(for="f2") Телефон*
                input#f2(type="text" name="phone")
              .input-container
                label(for="f3") E-mail*
                input#f3(type="text" name="mail")
              .input-container.input-container--checkbox
                input#f3-c(type='checkbox' title="Please agree to our policy!" name="agree")
                label(for="f3-c").checkbox__text Я согласен с условиями использования персональных данных*
              .registration__captcha
                .input-container
                  input(type="text" name="captcha" placeholder="Введите символы")
                .registration__captcha-image
                  img(src="img/captcha.jpg", alt="")
            .registration__right
              .input-container
                input.btn(type="submit" value="Зарегистрироваться")


  // END SECTION :: registration