---
title: Sushevsky Reviews
---
extends shared/_layout
block content

  // BEGIN SECTION :: slider

  section(data-aos='fade-up')
    .main-slider
      .container
        .slider(js-main-slider)
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")

  // END SECTION :: slider

  // BEGIN SECTION :: reviews-p

  section
    .reviews.reviews--page
      .container
        .title-container
          h2 Отзывы
        .reviews__grid
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Сергей Сергеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Еда была очень вкусной, горячей. Все очень понравилось. Особенно сосиски из осьминога, это чтото. Курьер вежливый, доставил быстро.  Буду рекомендовать знакомым.
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Валерий Алексеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Все просто замечательно. Вкусно, быстро и недорого. Процветания Вам!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Алиса Сергеевна Сергеевна У.
                p.reviews__date 20.08.2018
            p.reviews__info Заказали несколько сетов с мясов крокодила. Доставили быстрее, чем за 30 минут. Все было горячим. Очень понравилось. Спасибо!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Валерий Алексеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Все просто замечательно. Вкусно, быстро и недорого. Процветания Вам!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Сергей Сергеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Еда была очень вкусной, горячей. Все очень понравилось. Особенно сосиски из осьминога, это чтото. Курьер вежливый, доставил быстро.  Буду рекомендовать знакомым.
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Алиса Сергеевна У.
                p.reviews__date 20.08.2018
            p.reviews__info Заказали несколько сетов с мясов крокодила. Доставили быстрее, чем за 30 минут. Все было горячим. Очень понравилось. Спасибо!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Сергей Сергеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Еда была очень вкусной, горячей. Все очень понравилось. Особенно сосиски из осьминога, это чтото. Курьер вежливый, доставил быстро.  Буду рекомендовать знакомым.
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Валерий Алексеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Все просто замечательно. Вкусно, быстро и недорого. Процветания Вам!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Алиса Сергеевна У.
                p.reviews__date 20.08.2018
            p.reviews__info Заказали несколько сетов с мясов крокодила. Доставили быстрее, чем за 30 минут. Все было горячим. Очень понравилось. Спасибо!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Валерий Алексеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Все просто замечательно. Вкусно, быстро и недорого. Процветания Вам!
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Сергей Сергеевич А.
                p.reviews__date 20.08.2018
            p.reviews__info Еда была очень вкусной, горячей. Все очень понравилось. Особенно сосиски из осьминога, это чтото. Курьер вежливый, доставил быстро.  Буду рекомендовать знакомым.
          .reviews__item
            .reviews__head
              .reviews__head-container
                p.reviews__title Алиса Сергеевна У.
                p.reviews__date 20.08.2018
            p.reviews__info Заказали несколько сетов с мясов крокодила. Доставили быстрее, чем за 30 минут. Все было горячим. Очень понравилось. Спасибо!

  // END SECTION :: reviews-p
