---
title: Sushevsky Share
---
extends shared/_layout
block content

  // BEGIN SECTION :: slider

  section(data-aos='fade-up')
    .main-slider
      .container
        .slider(js-main-slider)
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")
          .item
            img(src="img/slide-1.jpg", alt="")

  // END SECTION :: slider

  // BEGIN SECTION :: share-p

  section
    .share-p
      .container
        .title-container
          h2 Акции
        .share-p__grid
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 1
              p.share-p__about Условия акции и сроки проведения. Условия акции и сроки проведения. Условия акции и сроки проведения.
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 2
              p.share-p__about Условия акции и сроки проведения.
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 3
              p.share-p__about Условия акции и сроки проведения.
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 4
              p.share-p__about Условия акции и сроки проведения.
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 5
              p.share-p__about Условия акции и сроки проведения.
          .share-p__item
            .share-p__image
              img(src="img/popular-1.jpg", alt="")
            .share-p__info
              p.share-p__title Название акции 6
              p.share-p__about Условия акции и сроки проведения.

            
  // END SECTION :: share-p