---
title: FIRST DIGITAL PARTY LOGISTICS PROVIDER
---
extends shared/_layout
block content
  
  // BEGIN SECTION :: firstscreen
  section
    .firstscreen.firstscreen--team
      .container
        h1(data-aos='fade-up') Our team <br>is our core asset
  // END SECTION :: firstscreen

  // BEGIN SECTION :: team-info
  section
    .team-info
      .container
        p(data-aos='fade-up') To turn our ideas into finished projects we need people. We invite talented developers, engineers, and business professionals to work alongside freight transportation, logistics, and business experts. We offer full freedom to bring your ideas to work and watch them to become real solutions.
        p(data-aos='fade-up') Carggo’s core values are reliability, transparency, and convenience. We are committed to applying these values to both our business practices and at a workplace. When you join Carggo you join the young motivated team united by a common goal.
        p(data-aos='fade-up') For office perks please refer to job openings below.
  // END SECTION :: team-info

  // BEGIN SECTION :: categories
  section
    .categories
      .container
        .categories__grid
          .categories__item(data-aos='fade-up')
            select
              option All categories
              option Engineering
              option IT
              option Sales
              option Operations
              option Administration
          .categories__item(data-aos='fade-up')
            select
              option All locations
              option Vilnius
              option Naperville
              option Sales
        img(src="img/categories.jpg", alt="" data-aos='fade-up')
  // END SECTION :: categories

  // BEGIN SECTION :: form-block
  section
    .form-block.form-block--team
      .container
        .form-block__title(data-aos='fade-up') If you didn’t find the desired position in the list, fill out the form and hit the Apply now button. We will contact you once the position you want becomes available
        form.form-block__form.js-form(action="#")
          .form-block__grid
            .form-block__item(data-aos='fade-up')
              label(for="t1") Name
              input#t1(type="text" name="first_name" required)
            .form-block__item(data-aos='fade-up')
              label(for="t2") Email
              input#t2(type="text" name="email" required)
            .form-block__item(data-aos='fade-up')
              label(for="t3") Phone
              input#t3(type="number" name="phone" required)
          .form-block__textarea(data-aos='fade-up')
            label(for="t4") Message
            textarea(js-autogrow rows="5")#t4
          input.form-block__btn(type="submit" value="Apply now" data-aos='fade-up')
  // END SECTION :: form-block
