---
title: Sushevsky Vacancies
---
extends shared/_layout
block content

  include components/_main-slider

  // BEGIN SECTION :: vacancies

  section
    .vacancies
      .container
        .title-container
          h2 Список вакансий
        .vacancies__grid
          a(href="#" js-vacancies).vacancies__item.is-active
            span.v-a
              span Официант (3)
              span.date 20.08.2018
          a(href="#" js-vacancies).vacancies__item 
            span.v-a
              span Сушеф (1)
              span.date 20.08.2018
          a(href="#" js-vacancies).vacancies__item 
            span.v-a
              span Повар (1)
              span.date 20.08.2018
          a(href="#" js-vacancies).vacancies__item 
            span.v-a
              span Курьер  (3)
              span.date 20.08.2018
          a(href="#" js-vacancies).vacancies__item 
            span.v-a
              span Программист (1)
              span.date 20.08.2018
          a(href="#" js-vacancies).vacancies__item 
            span.v-a
              span Разнорабочий (1)
              span.date 20.08.2018
  
  // END SECTION :: vacancies

  // BEGIN SECTION :: courier

  section
    .courier.courier__tab.is-active
      .container
        .title-container
          h2 Официант
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально.
    .courier.courier__tab
      .container
        .title-container
          h2 Сушеф
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально. 
    .courier.courier__tab
      .container
        .title-container
          h2 Повар
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально. 
    .courier.courier__tab
      .container
        .title-container
          h2 Курьер
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально. 
    .courier.courier__tab
      .container
        .title-container
          h2 Программист
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально. 
    .courier.courier__tab
      .container
        .title-container
          h2 Разнорабочий
        .courier__grid
          .courier__list
            p Требования
            p - Личный автомобиль; 
            p - Желание работать.
            p Обязанности
            p - Доставка заказов.
          .courier__list
            p Условия
            p Мы предлагаем: 
            p - Выплаты стабильные, ежедневные, еженедельные! 
            p - Смены дневные и ночные по 12ч; 
            p - Графики и подработки  обсуждаются индивидуально. 
  
  // END SECTION :: courier

  // BEGIN SECTION :: vacancies-phone

  section
    .vacancies-phone
      .container
        .phone-container
          p.phone-title Отдел кадров:
          a.vacancies-phone__phone(href="tel:+4955555555")
            p
              span.vertical 495
              span 555
                span.dot •
                | 55
                span.dot •
                | 55
  
  // END SECTION :: vacancies-phone
