script(src="js/vendor.js")
script(
  src="https://api-maps.yandex.ru/2.1/?apikey=1396f3ae-ac32-4c8c-8a3e-713031772bb7"
  type="text/javascript")
script(
  src="https://api-maps.yandex.ru/2.1/?apikey=29a86e8e-55ec-4a38-a269-e5a33a4949d5"
  type="text/javascript")
script(src="js/app.js")
