script(src="js/vendor.js")
// script(src="https://api-maps.yandex.ru/2.1/")
// script(
  src="https://api-maps.yandex.ru/2.1/?apikey=AD35yVsBAAAAuP3AKgMA8mxB-yz3y88j7AOr7aqmC-BBrx4AAAAAAAAAAADbnIqv4OfGSrm8Pa2IfupRRonRBg=="
  type="text/javascript")
// script(
  src="https://api-maps.yandex.ru/2.1/?apikey=4ccff51a-02a8-4fc6-b8b2-023df8684899"
  type="text/javascript")
script(src="js/app.js")
