.about
  padding-top: 41px
  .container
    padding: 0 85px
  &__grid
    padding: 38px 0
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-top: 49px
  &__image
    width: 43.8%
    img
      width: 100%
      height: auto
  &__info
    width: 51%
    p
      font-family: $regular
      line-height: 1.45
      color: #fff
      margin-bottom: 30px
  &__container
    background: url(../img/pattern.png) top left repeat
    background-size: contain
  &__btn
    display: flex
    max-width: 150px
    align-items: center
    justify-content: center
    margin-left: auto
    padding: 5px 10px
    font-size: 18px
    font-family: $regular
    color: #fff
    border: 1px solid #fff
    background: $colorRed
    margin-top: 50px
    transition: all $transitionSpeed $ease
    &:hover
      background: $hoverColor
    &:active
      background: $activeColor
  &--page
    padding-top: 0
    .container
      padding: 0 118px
    .about__image
      width: 46.5%
    .about__info
      width: 47%
    .about__container
      background: none
    .about__btn
      display: none
    .about__info
      p
        color: $fontColor
        line-height: 1.25
    .about__grid
      align-items: center
      padding: 0
      margin-top: 0
      margin-bottom: 33px
      &:last-child
        margin-bottom: 22px
      &--reverse
        flex-direction: row-reverse

+r($desktop1268)
  .about
    .container
      padding: 0 40px

+r($desktop)
  .about
    .container
      padding: 0 20px

+r($tablet)
  .about
    display: none
    &--page
      display: block
      .about__grid
        flex-wrap: wrap
        margin-bottom: 20px
        max-width: 400px
        margin: 0 auto 20px
        &--reverse
          flex-direction: row
      .about__image
        width: 100%
        max-width: 400px
        margin-bottom: 20px
      .about__info
        width: 100%
        p
          line-height: 1.25
          margin-bottom: 0