/* HEADER
.header
  position: relative
  top: 0
  right: 0
  left: 0
  background: transparent
  z-index: 100
  transform: translate3d(0,0,0)
  .container
    padding: 0 80px
  &__options
    padding: 12px 0
    background: #dcdbdb
    position: relative
    z-index: 2
    p
      font-family: $regular
      font-size: 15px
      span
        display: inline-block
        margin: 0 10px
  &__o-grid
    display: flex
    align-items: center
    justify-content: flex-end
  &__o-city
    display: flex
    align-items: center
    margin-right: 74px
  &__o-languages
    display: flex
    align-items: center
    padding-right: 36px
    a
      font-size: 15px
      font-family: $regular
      color: $fontColor
      display: inline-block
      margin-right: 33px
      transition: all $transitionSpeed $ease
      &.is-active
        color: $colorRed
  &__wrapper
    margin: 0 auto
    width: 100%
    display: flex
    align-items: center
    padding: 17px 10px 8px
    background: #fff
  &__logotype
    max-width: 273px
    height: auto
    width: 24%
    margin-left: 6px
  &__wrapper-grid
    display: flex
    align-items: center
    justify-content: space-between
  &__shop
    display: flex
    align-items: center
    justify-content: space-between
    border: 1px solid $fontColor
    padding: 9px 15px 10px
    background: $fontColor
    overflow: hidden
  &__shop-info
    min-width: 141px
    margin-right: 15px
    p
      font-family: $regular
      font-size: 15px
      color: #fff
  &__shop-button
    a
      display: block
      padding: 4px 15px
      border: 1px solid $colorRed
      background: $fontColor
      font-family: $regular
      font-size: 15px
      color: #fff
      transition: all $transitionSpeed $ease
      &:hover
        background: $colorRed
  &__shop-avatar
    margin-right: -15px
    margin: -10px -15px -10px 15px
    padding: 10px 9px 11px 10px
    background: #fff
    display: flex
    align-items: center
    justify-content: center
    img
      width: 33px
      height: auto
  &__phone
    display: flex
    align-items: center
    justify-content: center
    margin-top: 6px
    margin-right: -28px
    img
      margin-right: 25px
      margin-top: -8px
    p
      font-size: 70px
      font-family: $room
      line-height: 1
      position: relative
      span
        display: inline-block
        line-height: 1
        // letter-spacing: -3px
        &.dot
          margin: 0 3px
      span.vertical
        transform: rotate(-90deg)
        font-size: 24px
        position: absolute
        left: -30px
        top: 19px
        letter-spacing: 0px
  &__nav
    display: flex
    align-items: center
    justify-content: center
    ul
      text-align: center
      margin: 7px 0
    a
      font-size: 21px
      font-family: $regular
      color: #2b2b28
      margin: 0 50px
      transition: all $transitionSpeed $ease
      &:hover
        color: $colorRed
  .hamburger
    display: none

+r($desktop1268)
  .header
    .container
      padding: 0 40px
    &__logotype
      // max-width: 220px
    &__phone
      margin-top: 8px
      margin-right: 0
      img
        width: 35px
        height: auto
      p
        font-size: 50px
        span.vertical
          font-size: 20px
          top: 12px
    &__shop
      padding-top: 5px
      padding-bottom: 5px
    &__shop-button
      a
        display: flex
        align-items: center
        justify-content: center
        max-width: 80px
        text-align: center
        line-height: 1.1

+r($desktop)
  .header
    &__wrapper
      padding-left: 0
      padding-right: 0
    .container
      padding: 0 20px

+r($tablet)
  .header
    .container
      padding: 0 10px
    .hamburger
      display: block
      padding: 0
      transform: scale(0.7)
      position: relative
      z-index: 1000
    &__logotype
      width: 40%
    &__phone
      display: none
    &__shop-button
      display: none
    &__options
      display: none
    &__wrapper
      padding: 10px 0
      position: relative
      z-index: 100
    &__shop
      padding: 4px 15px 4px 5px
    &__shop-info
      min-width: 0
      p
        font-size: 10px
        line-height: 1.2
    &__shop-avatar
      padding: 8px 5px
      margin-left: 5px
      img
        width: 17px
    &__nav
      position: fixed
      z-index: 90
      left: 0
      top: 0
      width: 100%
      min-height: 100vh
      height: 100%
      background: #fff
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      left: -100%
      transition: all $transitionSpeed $ease
      &.is-active
        left: 0
      ul
        padding-left: 0
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
      li
        width: 100%
      a
        margin: 10px 0
        display: inline-block
        font-size: 18px
        width: 100%
    .selectric-wrapper
      ul
        margin: 0 !important
      &.selectric-select-nav
        padding: 0 50px
        margin: 10px 0
        width: 100%
        .selectric
          width: auto
          display: inline-block
        .label
          font-size: 18px
        .selectric-items
          width: 100% !important
          li
            font-size: 18px