/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  background: transparent
  z-index: 100
  transform: translate3d(0,0,0)
  .container
    max-width: 1190px
    padding: 0
  &__wrapper
    display: flex
    align-items: center
    width: 100%
    padding: 31px 30px
    background: $colorGray

  &__btn
    font-size: 14px
    font-family: $extrabold
    color: #fff
    text-transform: uppercase
    padding: 7px 15px
    display: block
    background: $colorRed
    border: 4px solid $colorRed
    transition: all $transitionSpeed $ease
    cursor: pointer
    &:hover
      background: transparent

  &__logo
    flex: 0 0 auto
    // font-size: 30px
    height: 30px
    width: auto

  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    font-size: 18px
    margin: 0 auto
    padding: 0
    a
      display: inline-block
      margin: 0 15px
      transition: color .25s $ease
      font-family: $extrabold
      font-size: 14px
      color: #fff
      text-transform: uppercase
      transition: all $transitionSpeed $ease
      &:hover, &.is-active
        color: $colorRed
      // &:focus
      //   color: #fff
      // &.is-active
      //   color: $colorRed

// .homepage
//   .header
//     &__menu
//       a
//         &:focus
//           color: #fff
//         &.is-active
//           color: $colorRed

body.is-transitioning
  .header
    pointer-events: none
  .header__menu
    a
      &.is-active, &:focus, &:hover
        color: #fff

+r($desktop)
  .header
    &__logo
      height: 23px
      width: auto
      img
        height: 23px
        width: auto
    &__menu
      a
        margin: 0 8px
        font-size: 12px
    &__btn
      font-size: 12px
      line-height: 1
      padding: 7px 13px

+r($tablet)
  .header
    &__wrapper
      padding: 9px 29px
    &__menu
      display: none
    &__logo
      height: 21px
      width: auto
      img
        height: 21px
        width: auto
    &__btn
      margin-left: auto
      font-size: 8px
      line-height: 1
      padding: 5px 6px 4px
